> # satisfactionAnalysis(TASK-4)

In [1]:
import pandas as pd # type: ignore
import numpy as np
import os
os.chdir('..')

In [2]:
engagement_data = pd.read_csv('./data/engagement_metrics.csv')
experience_data = pd.read_csv('data/experience_metrics.csv')
engagement_centroids = np.loadtxt('./data/engagement_centroids.csv', delimiter=',')
experience_centroids = np.loadtxt('./data/experience_centroids.csv', delimiter=',')

In [3]:
experience_data.head()

,MSISDN/Number,Avg_TCP_Retransmission,Avg_RTT,Avg_Throughput,Handset Type
0,3.360304e+10,27.041413,27.041413,4643.279233,Samsung Galaxy A5 Sm-A520F
1,3.360304e+10,20.000000,20.000000,51.000000,Apple iPhone Xr (A2105)
2,3.360304e+10,17.500000,17.500000,53.000000,Samsung Galaxy J3 (Sm-J330)
3,3.360304e+10,56.000000,56.000000,764.500000,Apple iPhone 6 Plus (A1524)
4,3.360304e+10,22.750000,22.750000,13208.687500,Samsung Galaxy S8 (Sm-G950F)

In [4]:
engagement_data.head()

,MSISDN/Number,Session Frequency,Total Session Duration,Total DL (Bytes),Total UL (Bytes),Total Traffic
0,3.360100e+10,1,116720.0,8.426375e+08,36053108.0,8.786906e+08
1,3.360100e+10,1,181230.0,1.207552e+08,36104459.0,1.568596e+08
2,3.360100e+10,1,134969.0,5.566597e+08,39306820.0,5.959665e+08
3,3.360101e+10,1,49878.0,4.019932e+08,20327526.0,4.223207e+08
4,3.360101e+10,2,37104.0,1.363130e+09,94280527.0,1.457411e+09

>> #### Merge engagement_metrics and experience_metrics

In [5]:
from scripts.satisfactionAnalysis import merge_data
data = merge_data(engagement_data, experience_data)

In [6]:
data.head()

,MSISDN/Number,Session Frequency,Total Session Duration,Total DL (Bytes),Total UL (Bytes),Total Traffic,Avg_TCP_Retransmission,Avg_RTT,Avg_Throughput,Handset Type
0,3.360304e+10,1,145911.0,6.589558e+08,32379117.0,6.913349e+08,20.00,20.00,51.0000,Apple iPhone Xr (A2105)
1,3.360304e+10,1,98245.0,4.956144e+08,45150569.0,5.407650e+08,17.50,17.50,53.0000,Samsung Galaxy J3 (Sm-J330)
2,3.360304e+10,1,86350.0,2.514085e+08,28224474.0,2.796330e+08,56.00,56.00,764.5000,Apple iPhone 6 Plus (A1524)
3,3.360304e+10,2,172150.0,1.109392e+09,67829770.0,1.177222e+09,22.75,22.75,13208.6875,Samsung Galaxy S8 (Sm-G950F)
4,3.360305e+10,1,34409.0,7.199956e+08,45897672.0,7.658933e+08,23.00,23.00,904.0000,Apple iPhone 6S (A1633)

In [7]:
data.tail()

,MSISDN/Number,Session Frequency,Total Session Duration,Total DL (Bytes),Total UL (Bytes),Total Traffic,Avg_TCP_Retransmission,Avg_RTT,Avg_Throughput,Handset Type
88750,3.370000e+10,1,258490.0,293336902.0,43096603.0,336433505.0,19.5,19.5,10.5,Samsung Galaxy J5 (Sm-J530)
88751,3.370000e+10,1,171672.0,778431728.0,48981124.0,827412852.0,25.0,25.0,7.5,Samsung Galaxy J5 (Sm-J530)
88752,3.370000e+10,1,9498.0,546559526.0,37841418.0,584400944.0,57.5,57.5,2237.5,Apple iPhone 6 (A1586)
88753,3.370000e+10,1,66045.0,448438156.0,32628264.0,481066420.0,14.5,14.5,4096.0,Huawei P9 Lite
88754,3.370000e+10,1,214209.0,353082629.0,41670863.0,394753492.0,25.0,25.0,7.5,Samsung Galaxy J7

>> #### Calculate Engagement and Experience Scores

In [8]:
from scripts.satisfactionAnalysis import calculate_euclidean_scores
data = calculate_euclidean_scores(data, engagement_centroids, experience_centroids)

In [9]:
data.head()

,MSISDN/Number,Session Frequency,Total Session Duration,Total DL (Bytes),Total UL (Bytes),Total Traffic,Avg_TCP_Retransmission,Avg_RTT,Avg_Throughput,Handset Type,Engagement Score,Experience Score
0,3.360304e+10,1,145911.0,6.589558e+08,32379117.0,6.913349e+08,20.00,20.00,51.0000,Apple iPhone Xr (A2105),0.569332,1.394355
1,3.360304e+10,1,98245.0,4.956144e+08,45150569.0,5.407650e+08,17.50,17.50,53.0000,Samsung Galaxy J3 (Sm-J330),0.750485,1.459681
2,3.360304e+10,1,86350.0,2.514085e+08,28224474.0,2.796330e+08,56.00,56.00,764.5000,Apple iPhone 6 Plus (A1524),1.161663,3.690302
3,3.360304e+10,2,172150.0,1.109392e+09,67829770.0,1.177222e+09,22.75,22.75,13208.6875,Samsung Galaxy S8 (Sm-G950F),1.137612,0.279580
4,3.360305e+10,1,34409.0,7.199956e+08,45897672.0,7.658933e+08,23.00,23.00,904.0000,Apple iPhone 6S (A1633),0.826534,1.269259

In [10]:
data.tail()

,MSISDN/Number,Session Frequency,Total Session Duration,Total DL (Bytes),Total UL (Bytes),Total Traffic,Avg_TCP_Retransmission,Avg_RTT,Avg_Throughput,Handset Type,Engagement Score,Experience Score
88750,3.370000e+10,1,258490.0,293336902.0,43096603.0,336433505.0,19.5,19.5,10.5,Samsung Galaxy J5 (Sm-J530),1.177527,1.408935
88751,3.370000e+10,1,171672.0,778431728.0,48981124.0,827412852.0,25.0,25.0,7.5,Samsung Galaxy J5 (Sm-J530),0.594862,1.407192
88752,3.370000e+10,1,9498.0,546559526.0,37841418.0,584400944.0,57.5,57.5,2237.5,Apple iPhone 6 (A1586),0.988552,3.777165
88753,3.370000e+10,1,66045.0,448438156.0,32628264.0,481066420.0,14.5,14.5,4096.0,Huawei P9 Lite,0.897521,1.180257
88754,3.370000e+10,1,214209.0,353082629.0,41670863.0,394753492.0,25.0,25.0,7.5,Samsung Galaxy J7,0.984368,1.407192